header
  margin-top: 35px
  position: relative
  z-index: 1
  &:after
    content: ''
    z-index: 2
    display: block
    width: 100%
    height: 7px
    background: transparent url(../images/shadow-line.png) 50% 0 no-repeat
    position: absolute
    bottom: -7px

.header-container
  +container

.logo-container
  +span(2)
  position: relative

.header-main
  +span(10 last)
  padding-bottom: 25px

.header-phone
  +span(2)
  font-weight: bold

.nav-top-container
  +span(9)
  margin-bottom: 20px

.header-user
  +span(1 last)