doctype 5
html.no-js class="#{data.page.page_class}" lang="RU"
  head
    = partial 'head'
  body
    = partial 'body_top'
    = partial 'header'
    = yield
    = partial 'footer'
    = partial 'body_bottom'