// **************************************
//
//   #base.page
//
// **************************************


html
  font-family: $base-font-family
  font-size: 14px

a
  color: $color-links

h1
  font-family: $header-font-family