.advantages-container
  ul.advantages
    li.advantage.advantage-active.advantage-new
      a.advantage-container[href="#"]
        span.advantage-ico.advantage-ico-cctv
        span.advantage-title
          | Видеонаблюдение
          br за ремонтом
    li.advantage
      a.advantage-container[href="#"]
        span.advantage-ico.advantage-ico-cards
        span.advantage-title
          | Кредитование
          br проектов
    li.advantage
      a.advantage-container[href="#"]
        span.advantage-ico.advantage-ico-shield
        span.advantage-title
          | Видеонаблюдение
          br за ремонтом
    li.advantage
      a.advantage-container[href="#"]
        span.advantage-ico.advantage-ico-umbrella
        span.advantage-title
          | Гарантия на все
          br проекты 3 года