header
  .header-container
    .logo-container
      a.logo_link> href='/'
        img.logo_img src='assets/images/logo.png'
    .header-main
      .header-top
        .header-phone
          span.phone
            | 8 800 502 56 69
            span.drop-down-arrow
        .nav-top-container
          ul.nav.nav-top
            li.nav-item.nav-item-top: a.nav_link.nav_link-top.nav_link-active[href="#"] О нас
            li.nav-item.nav-item-top: a.nav_link.nav_link-top[href="#"] С чего начать
            li.nav-item.nav-item-top: a.nav_link.nav_link-top[href="#"] Партнеры
            li.nav-item.nav-item-top: a.nav_link.nav_link-top[href="#"] Карьера
            li.nav-item.nav-item-top: a.nav_link.nav_link-top[href="#"] Контакты
        .header-user
          a.user_login [href=""] Вход
      .nav-container
        ul.nav.nav-main
          li.nav-item.nav-item-main: a.nav_link.nav_link-main.nav_link-active[href="#"] Дизайн интерьера
          li.nav-item.nav-item-main: a.nav_link.nav_link-main[href="#"] Ремонт и отделка
          li.nav-item.nav-item-main: a.nav_link.nav_link-main[href="#"] Наши работы
          li.nav-item.nav-item-main: a.nav_link.nav_link-main[href="#"] Страхование и гарантия
          li.nav-item.nav-item-main: a.nav_link.nav_link-main[href="#"] Кредитование