meta charset='utf-8'
title = page_title

link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700|Open+Sans:400,600,700&subset=latin,cyrillic" rel="stylesheet" type="text/css" /
= stylesheet_link_tag 'application.css', media: 'all'
link rel='shortcut icon' href="#{image_path('favicon.png')}"

meta content='initial-scale=1, user-scalable=yes, width=device-width' name='viewport'
meta http-equiv='X-UA-Compatible' content='IE=edge'
meta content='on' http-equiv='cleartype'
meta content='True' name='HandheldFriendly'
meta content='320' name='MobileOptimized'

meta name='description' content="#{page_description}"
meta name='keywords' content="#{page_keywords}"
meta name='author' content="#{page_author}"

/ -------------------------------------
/ Modernizr - Development version
/ Use the Development version to develop with and learn from. Then, when you’re
/ ready for production, use the build tool below to pick only the tests you need.
/ -------------------------------------
= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js'
/[if lt IE 9]
  = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js'
  = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js'
= yield_content :head