#main-promo.everslider.image-slider
  ul.es-slides
    li
      .featured-pic
        img alt="Example" src="assets/content/slider-1.jpg" /
      .image-caption
        span.caption-title
          | Уют, гармония
          br и умиротворенность.
        span.caption-content Квартира в ЖК "Квартал"
        a.caption-link.btn[href="#"] Все проекты квартри
    li
      img alt="Example" src="assets/content/slider-2.jpg"
      .image-caption
        span.caption-title
          | Уют, гармония
          br и умиротворенность.
        span.caption-content Квартира в ЖК "Квартал"
        a.caption-link.btn[href="#"] Все проекты квартри
    li
      img alt="Example" src="assets/content/slider-3.jpg"
      .image-caption
        span.caption-title
          | Уют, гармония
          br и умиротворенность.
        span.caption-content Квартира в ЖК "Квартал"
        a.caption-link.btn[href="#"] Все проекты квартри