// **************************************
//
//   #components.site-nav
//
// **************************************
.nav
  list-style-type: none
  margin: 0
  padding: 0
  &-item
    display: inline-block

.nav_link
  text-decoration: none
  &-top
    color: #9e8e82
  &-main
    color: $color-positive
    font-size: 16px
    &.nav_link-active
      border-bottom: 2px solid #786c60
  &:active, &-active, &:hover
    color: #786c60

.nav-item
  padding: 0 8px
  &:first-child
    padding-left: 0
  &:last-child
    padding-right: 0

.nav-item-main
  padding: 0 17px
  border-right: 2px solid #f8f5f3
  &:last-child
    border-right: none