/**
 * Everslider - Responsive jQuery Carousel Plugin
/**
.everslider
  position: relative
  width: 100%
  overflow: hidden
  margin: 0 auto 20px
  .es-slides
    position: relative
    width: 100000px
    margin: 0
    padding: 0
    list-style: none
    -webkit-transform: translate3d(0, 0, 0)
    > li
      position: relative
      float: left
      padding: 0!important
      border: 0!important
      width: 500px
      height: 300px
      margin: 0 10px 0 0
      cursor: default
      cursor: -webkit-grab
      cursor: -moz-grab
      -webkit-transform: translate3d(0, 0, 0)
  &.es-swipe-grab .es-slides > li
    cursor: default
    cursor: -webkit-grabbing
    cursor: -moz-grabbing
  .es-slides img
    width: 100%
    height: auto
    max-width: none
  &.es-slides-ready
    background: none

/* Preload

.es-slides
  visibility: hidden

.es-slides-ready .es-slides
  visibility: visible

/* Navigation

.es-navigation
  a
    position: absolute
    top: 50%
    margin-top: -17px
    padding: 7px
    background-color: #eee
  .es-prev
    left: 0
  .es-next
    right: 0
  .es-first, .es-last
    opacity: 0.5
    filter: alpha(opacity = 50)
    cursor: default
  a span
    display: block
    width: 20px
    height: 20px
    text-indent: -9999px
  .es-prev span
    background-image: inline-image('../images/slider/arrows.png')
    background-position: 0 0
    background-repeat: no-repeat
  .es-next span
    background-image: inline-image('../images/slider/arrows.png')
    background-repeat: no-repeat
    background-position: -20px 0
  .es-prev span.alt-arrow
    background: inline-image('../images/slider/arrows.png') no-repeat 0 -20px
  .es-next span.alt-arrow
    background: inline-image('../images/slider/arrows.png') no-repeat -20px -20px

/* Pagination

.es-pagination
  position: absolute
  left: 50%
  bottom: 20px
  margin-left: 295px
  a
    position: relative
    right: 50%
    float: left
    width: 13px
    height: 13px
    overflow: hidden
    background: inline-image('../images/slider/bullets.png') no-repeat 0 0
    margin: 0 5px 0
    text-indent: -9999px
  .es-active
    background: inline-image('../images/slider/bullets.png') no-repeat -13px 0

/* Ticker

.es-ticker
  position: absolute
  bottom: 0
  right: 0
  a
    display: block
    padding: 7px
    background: #eee
    span
      display: block
      width: 20px
      height: 20px
      text-indent: -9999px
  .es-play span
    background: inline-image('../images/slider/ticker.png') no-repeat 0 0
  .es-pause span
    background: inline-image('../images/slider/ticker.png') no-repeat -20px 0

/* Retina

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
  /* Navigation
  .es-navigation
    .es-prev span
      background: inline-image('../images/slider/arrows@2x.png') no-repeat 0 0
      background-size: 40px 40px
    .es-next span
      background: inline-image('../images/slider/arrows@2x.png') no-repeat -20px 0
      background-size: 40px 40px
  /* Pagination
  .es-pagination a
    background: inline-image('../images/slider/bullets@2x.png') no-repeat 0 0
    background-size: 26px 13px
    &.es-active
      background: inline-image('../images/slider/bullets@2x.png') no-repeat -13px 0
      background-size: 26px 13px
  /* Ticker
  .es-ticker
    .es-play span
      background: inline-image('../images/slider/ticker@2x.png') no-repeat 0 0
      background-size: 40px 20px
    .es-pause span
      background: inline-image('../images/slider/ticker@2x.png') no-repeat -20px 0
      background-size: 40px 20px

.image-caption
  position: absolute
  top: 30%
  bottom: 0
  left: 50%
  margin-left: 170px
  display: block
  background-color: rgba(96,89,78, .7)
  color: #fff
  padding: 30px 40px

.caption-title
  font-size: rem(24)
  line-height: 1

.caption-content
  font-size: rem(16)
  display: block
  margin: 10px 0