.advantages-container
  width: 100%
  height: 80px
  overflow: hidden
  background-color: #88b723
  border-top: 1px solid #c1ea6a
  border-bottom: 1px solid #72a00f

.advantages
  +container
  display: block
  list-style-type: none

.advantage
  width: 25%
  float: left
  padding: 10px 0
  &:first-child
    &-container
      border-left: 2px solid #78a615
  &-active, &:hover
    background-color: #72a00f
    & .advantage-container
      color: #fff
    .advantage-ico-cctv
      background: inline-image('s/cctv-white.png') 50% 50% no-repeat
    .advantage-ico-cards
      background: inline-image('s/cards-white.png') 50% 50% no-repeat
    .advantage-ico-shield
      background: inline-image('s/shield-white.png') 50% 50% no-repeat
    .advantage-ico-umbrella
      background: inline-image('s/umbrella-white.png') 50% 50% no-repeat
  &-container
    color: #2e4400
    display: block
    padding: 10px 0 10px 20px
    border-right: 2px solid #78a615
  &-ico
    display: inline-block
    width: 34px
    height: 34px
    margin-right: 10px
  &-title
    display: inline-block
    font-size: rem(16)
    line-height: 1.1
  &-new
    position: relative
    overflow: hidden
    &:after
      position: absolute
      content: 'new!'
      color: #fff
      background-color: #5a8008
      width: 70px
      height: 70px
      text-align: center
      top: -35px
      right: -35px
      padding: 50px 0 0 0
      +transform(rotate(45deg))


.advantage-ico-cctv
  background: inline-image('s/cctv-dgreen.png') 50% 50% no-repeat

.advantage-ico-cards
  background: inline-image('s/cards-dgreen.png') 50% 50% no-repeat

.advantage-ico-shield
  background: inline-image('s/shield-dgreen.png') 50% 50% no-repeat

.advantage-ico-umbrella
  background: inline-image('s/umbrella-green.png') 50% 50% no-repeat